<!DOCTYPE html>

<html>
    <head>
        <title>
            About
        </title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/cloud.ico">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
        
        <p>This website was created by {{devName}} of <a href='{{author}}'>Samvit Software Solutions</a></p>
        <img class="portrait" src="/img/me.jpg">         

        </div>
        

        {{>footer}}
    </body>
</html>