<!DOCTYPE html>

<html>
    <head>
        <title>
            404 Page
        </title>
        <link rel="stylesheet" href="/css/styles.css"
        <link rel="icon" href="/img/cloud.ico">
        
    </head>
    <body>

        <div class="main-content">
        {{>header}}

        <p>{{pgtitle}}</p>
        <p>{{message}}</p>

        </div>
        
        {{>footer}}
    </body>
</html>